<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				li{ float: left; list-style: none; }
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				</ul><br><br>
				<hr>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<br><br><hr>
	    		<ul>
	        		<li><a href="mailto:gerhardt.gao@gmail.com">email</a></li>
	        		<li><a href="https://github.com/gerhardtgao">github.com/gerhardtgao</a></li>
				</ul>
			</footer>
		</body>
	</html>
